<!-- Сайты пишутся с помощью тегов(tags) -->
 <!-- Шаблонизатор Jinja -->
<!-- { ключ из контекста }x2 -->
<!-- 
    {процент for элемент in последовательность процент}
        ...код
    {процент empty процент}
        ...код если список
    {процент endfor процент}
-->
<!-- 
    {процент if условие процент}
        код
    {процент else условие процент}
        код
    {процент elif условие процент}
        код
    {процент endif процент}
-->
<!-- Тег - это как кирпичик из которого строится сайт -->
<!-- Например, существует тег для создания заголовка или картинки -->
<!--
    Схема тега: <тег> содержимое </тег>
    Схема одинарного тега: <тег>
-->

<!-- Тег для заголовков h1-h6 -->
<h1>Привет</h1>
<h2>Привет</h2>
<h3>Привет</h3>
<h4>Привет</h4>
<h5>Привет</h5>
<h6>Привет</h6>


<p>Привет я обычный текст!</p>

<p>
<i>Привет</i>я <b>обычный</b> текст!
</p>

<a href="https://ru.wikipedia.org/wiki/Моцарелла">я ссылка</a>



<img
    src="https://upload.wikimedia.org/wikipedia/commons/5/57/Mozzarella_di_bufala3.jpg"
    alt="Моцарелла"
    width="300"
>



<ul>
    <li>Элемент А</li>
     <li>Элемент Б</li>
      <li>Элемент В</li>
</ul>


<ol>
    <li>Адилет</li>
     <li>Атабек</li>
      <li>Сагын</li>
</ol>


<h1>Салам</h1>
<hr>

<p>
    Все Салам!
    <br>
    Я Адилет
<p>