{% if x == 1 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Dice-1.svg/768px-Dice-1.svg.png" alt="">
{% elif x == 2 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Dice-2.svg/600px-Dice-2.svg.png" alt="">
{% elif x == 3 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Dice-3.svg/250px-Dice-3.svg.png" alt="">
{% elif x == 4 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Dice-4.svg/600px-Dice-4.svg.png" alt="">
{% elif x == 5 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Dice-5.svg/600px-Dice-5.svg.png" alt="">
{% elif x == 6 %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Dice-6.svg/1200px-Dice-6.svg.png" alt="">
{% endif %}